
.body{
	padding-top: 50px;
	background-color: #F6F8F9;
}
.header{
	position: fixed;
	top: 0px;
	left: 0px;
  	width: 100%;
  	height: 50px;
  	padding-top: 18px;
  	z-index: 100;
}
.logo{
	display: inline-block;
	width: 38px;
	vertical-align: middle;
	margin-right: 92px;
	margin-left: 20px;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.nav-li{
	display: inline-block;
	vertical-align: middle;
}
.nav-a{
	color: gray;
	margin-right: 27px;
	font-size: 11px;
	font-family: 'Roboto';
}
.home{
	color: #343638;
	font-weight: bold;
	margin-right: 27px;
	font-size: 11px;
	font-family: 'Roboto';
}
.nav-image{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin-left: 40px;
}
/*section#1*/
.section1{
	margin-top: 18px;
	margin-left: 140PX;
}
.title{
	font-size: 24px;
	color: #202124;
	font-weight: bold;
	font-family: 'Roboto';
}
.images-block{
	margin-top: 40px;
	display: inline-block;
	margin-right: 40px;
}
.background{
	background-color: #FFFFFF;
	width: 360px;
	height: 350px;
	position: relative;
}
.image1{
	position: absolute;
}
.image-title{
	position: absolute;
	top: 28px;
	left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Roboto';
}
.paragraph{
	position: absolute;
	top: 246px;
	width: 240px;
	line-height: 30px;
	left: 40px;
	font-size: 13px;
	color: #A6ADB4;
}
/*section#2*/
.section2{
	width: 1160px;
	margin-top: 65px;
	margin-left: 140px;
}
.title2{
	font-size: 24px;
	color: #202124;
	font-weight: bold;
	font-family: 'Roboto';
}
.section2-block{
	margin-top: 40px;
}
.second-sect-first-block{
	display: inline-block;
	vertical-align: top;
}
.bridge-image{
	position: relative;
	width: 760pxs;
}
.image-title2{
	position: absolute;
	top: 394px;
	right: 18px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	bottom: 20px;
	font-family: 'Roboto';
	
}
.nature-image{
	width: 760px;
	margin-top: 40px;
}
.second-sect-second-block{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;

}
.elephant-image{
	position: relative ;
	width: 360px;
}
.image-title3{
	position: absolute;
	top: 18px;
	left: 40px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Roboto';
}
.parrot-image{
	width: 360px;
	margin-top: 102px;
}
.way-image{
	width: 360px;
	margin-top: 102px;
}
